# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Text editor backups
*.swp
*.swo
*.bak
*.tmp

# System files
.DS_Store
Thumbs.db

# Mac OS hidden files
.AppleDouble
.LSOverride

# Markdown previews or caches
*.md~
*.md.save

# Environment files
.env
.venv/
